body {
  background-image: url("../GameImg/game_body.jpg");
}

h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-bottom: 30px;
  font-size: 50PX;
  color: white;

}

a {
  color: red;
  /* 원하는 색상 */
  text-decoration: none;
  /* 밑줄 제거 */
}

a:hover {
  color: blue;
}

.btn-primary {
  display: block;
  margin-left: auto;
  width: fit-content;
  font-weight: bold;
}

.card img {
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.3);

}

.card {
  background-color: rgba(255, 255, 255, 0.952);
}

@media (max-width: 500px) {
  h1 {
    font-size: 35px;
  }
  .all{
    grid-template-columns: 1fr !important;
  }
  .card {
    width: 90%;
    margin: 0 auto;
  }
}