body {
  background-image: url("./GameImg/game_body.jpg");
}

h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-bottom: 30px;
  font-size: 50PX;
  color: white;

}

.cardlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.exlink {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}

.exlink:hover {
  text-decoration: underline;
}

.gamelink {
  background-color: crimson;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  margin-left: auto;
}

.gamelink:hover {
  background-color: darkred;
}

.card img {
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.3);
}

.card {
  background-color: rgba(255, 255, 255, 0.952);
}

@media (max-width: 500px) {
  h1 {
    font-size: 35px;
  }
  .all{
    grid-template-columns: 1fr !important;
  }
  .card {
    width: 90%;
    margin: 0 auto;
  }
}